#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

// for readability
#define L0 0
#define L1 1
#define L2 2
#define L3 3
#define L4 4
#define L5 5

// to experiment with quick tap hold speeds
#define QUICK_TAP_MS 175

// * COMBOS *
/ {
        combos {
                compatible = "zmk,combos";

// * CAPSLOCK *
// pressing both shift keys
                combo_caps{
                        timeout-ms = <100>;
                        key-positions = <24 35>;
                        bindings = <&kp CAPS>;
                };

// * SPOTLIGHT SEARCH *
// RSHIFT+/ is CMD+SPACE to spotlight search on Mac
                combo_spotlight{
                        timeout-ms = <100>;
                        key-positions = <34 35>;
                        bindings = <&kp LG(SPACE)>;
                };

// * GAMING LAYER *
// ENTER+TAB  to toggle on/off
                combo_gaming_a{
                        timeout-ms = <100>;
                        key-positions = <0 5>;
                        bindings = <&tog L4>;
                };

// * REPEAT KEY *
// left index finger combo
                combo_repeat_key_l{
                        timeout-ms = <100>;
                        key-positions = <16 17>;
                        bindings = <&key_repeat>;
                };

// right index finger combo
                combo_repeat_key_r{
                        timeout-ms = <100>;
                        key-positions = <18 19>;
                        bindings = <&key_repeat>;
                };

// * HYPER MOD KEY*
// left index finger combo
                combo_hyper_l{
                        timeout-ms = <100>;
                        key-positions = <28 29>;
                        bindings = <&kp LS(LC(LA(LGUI)))>;
                };

// right index finger combo
                combo_hyper_r{
                        timeout-ms = <100>;
                        key-positions = <30 31>;
                        bindings = <&kp LS(LC(LA(LGUI)))>;
                };
        };
};

// * BEHAVIOURS *
/ {
	behaviors {

// // * STICKY SHIFT & CAPS-WORD *
// // sticky shift with double tap to activate caps_word
//                 ss_cw: behavior_sticky_shift_caps_word {
//                         compatible = "zmk,behavior-tap-dance";
//                         label = "STICKY_SHIFT_CAPS_WORD";
//                         #binding-cells = <0>;
//                         tapping-term-ms = <200>;
//                         bindings = <&sk LSHFT>, <&caps_word>;
//                 };

// * DOUBLE TAP TO HOLD KEY *
// Adding quick-tap-ms to both mod-tap and layer-tap so you can tap then hold.
// mod-tap config
                mt: behavior_mod_tap {
                        compatible = "zmk,behavior-hold-tap";
                        label = "MOD_TAP";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        tapping-term-ms = <200>;
                        quick-tap-ms = <QUICK_TAP_MS>;
                        bindings = <&kp>, <&kp>;
                };

// layer-tap config
                lt: behavior_layer_tap {
                        compatible = "zmk,behavior-hold-tap";
                        label = "LAYER_TAP";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        tapping-term-ms = <200>;
                        quick-tap-ms = <QUICK_TAP_MS>;
                        bindings = <&mo>, <&kp>;
                };

// // global quick tap - a hold-tap key uses quick tap regardless of what key was pressed before it
//                 gqt: global_quick_tap {
//                         compatible = "zmk,behavior-hold-tap";
//                         label = "GLOBAL_QUICK_TAP";
//                         #binding-cells = <2>;
//                         flavor = "balanced";
//                         tapping-term-ms = <200>;
//                         quick-tap-ms = <QUICK_TAP_MS>;
//                         global-quick-tap;
//                         bindings = <&kp>, <&kp>;
//                 };
        };
};

// * LAYER KEYMAPS *
/ {
        keymap {
                compatible = "zmk,keymap";

// -------------------------------------------------------------------------------------------------------------------------------------------------------------------
                layer_0_base {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------

//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | TAB       |   Q   |   W   |   F   |   P   |   B   |            |   J   |   L   |   U   |   Y   |   '   | DEL       |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | ESC/CTRL  |   A   |   R   |   S   |   T   |   G   |            |   M   |   N   |   E   |   I   |   O   | ENT/CTRL  |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | SHFT/CAPS |   Z   |   X   |   C   |   D   |   V   |            |   K   |   H   |   ,   |   .   |   /   | SHFT/CAPS |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                                                     | -/A+C | SP/ALT| _/CMD |            |  (/L2 | BS/L1 | )/L3  |
//                                                     +-------+-------+-------+            +-------+-------+-------+

                        label = " L0_Base";
                        bindings = <

 &kp TAB        &kp Q  &kp W  &kp F               &kp P           &kp B                     &kp J        &kp L        &kp U           &kp Y    &kp APOS  &kp DEL
 &mt LCTRL ESC  &kp A  &kp R  &kp S               &kp T           &kp G                     &kp M        &kp N        &kp E           &kp I    &kp O     &mt RCTRL RET
 &sk LSHFT      &kp Z  &kp X  &kp C               &kp D           &kp V                     &kp K        &kp H        &kp COMMA       &kp DOT  &kp FSLH  &sk RSHFT
//  &ss_cw         &kp Z  &kp X  &kp C               &kp D           &kp V                     &kp K        &kp H        &kp COMMA       &kp DOT  &kp FSLH  &ss_cw
                              &mt LA(LGUI) MINUS  &mt LALT SPACE  &mt LGUI UNDER            &lt L2 LPAR  &lt L1 BSPC  &lt L3 RPAR

                        >;
                };

// -------------------------------------------------------------------------------------------------------------------------------------------------------------------
                layer_1_num_nav {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------

//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | TAB       |       |   7   |   8   |   9   |       |            |       |       |       |       |       | DEL       |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | ESC/CTRL  |       |   4   |   5   |   6   |       |            |       |  LFT  |  DWN  |  UP   |  RGT  | ENT/CTRL  |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | SHFT/CAPS |       |   1   |   2   |   3   |       |            |       | HOME  | PG_DN | PG_UP |  END  | SHFT/CAPS |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                                                     | -/A+C | 0/ALT | _/CMD |            |  (/L2 | BS/L1 | )/L3  |
//                                                     +-------+-------+-------+            +-------+-------+-------+

                        label = " L1_Nav / Num";
                        bindings = <

                              &trans  &none  &kp N7  &kp N8  &kp N9       &none             &none   &none     &none      &none      &none      &trans
                              &trans  &none  &kp N4  &kp N5  &kp N6       &none             &none   &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans
                              &trans  &none  &kp N1  &kp N2  &kp N3       &none             &none   &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans
                                                     &trans  &mt LALT N0  &trans            &trans  &trans    &trans

                        >;
                };

// -------------------------------------------------------------------------------------------------------------------------------------------------------------------
                layer_2_syms {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------

//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | TAB       |   !   |   @   |   £   |   $   |       |            |       |   &   |   *   |   +   |   =   | DEL       |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | ESC/CTRL  |   ~   |   `   |   {   |   }   |   %   |            |   ^   |   [   |   ]   |   :   |   ;   | ENT/CTRL  |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | SHFT/CAPS |       |   €   |   #   |       |       |            |       |       |       |  "|"  |   \   | SHFT/CAPS |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                                                     | -/A+C | 0/ALT | _/CMD |            |  (/L2 | BS/L1 | )/L3  |
//                                                     +-------+-------+-------+            +-------+-------+-------+

                        label = " L2_Syms";
                        bindings = <

                  &trans  &kp EXCL   &kp AT      &kp LS(N3)  &kp DLLR  &none                &none      &kp AMPS  &kp ASTRK  &kp PLUS   &kp EQUAL  &trans
                  &trans  &kp TILDE  &kp GRAVE   &kp LBRC    &kp RBRC  &kp PRCNT            &kp CARET  &kp LBKT  &kp RBKT   &kp COLON  &kp SEMI   &trans
                  &trans  &none      &kp LA(N2)  &kp LA(N3)  &none     &none                &none      &none     &none      &kp PIPE   &kp BSLH   &trans
                                                 &trans      &trans    &trans               &trans     &trans    &trans

                        >;
                };

// -------------------------------------------------------------------------------------------------------------------------------------------------------------------
                layer_3_func {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------

//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | TAB       |  F12  |  F7   |  F8   |  F9   |       |            |       |       |       |       |       | DEL       |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | ESC/CTRL  |  F11  |  F4   |  F5   |  F6   |       |            |  BC   |  B0   |  B1   |  B2   |  B3   | ENT/CTRL  |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | SHFT/CAPS |  F10  |  F1   |  F2   |  F3   |       |            |       |       |       |       |       | SHFT/CAPS |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                                                     | -/A+C | 0/ALT | _/CMD |            |  (/L2 | BS/L1 | )/L3  |
//                                                     +-------+-------+-------+            +-------+-------+-------+

                        label = " L3_Func";
                        bindings = <

                                 &trans  &kp F12  &kp F7  &kp F8  &kp F9  &none             &none       &none         &none         &none         &none         &trans
                                 &trans  &kp F11  &kp F4  &kp F5  &kp F6  &none             &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans
                                 &trans  &kp F10  &kp F1  &kp F2  &kp F3  &none             &none       &none         &none         &none         &none         &trans
                                                          &trans  &trans  &trans            &trans      &trans        &trans

                        >;
                };

// -------------------------------------------------------------------------------------------------------------------------------------------------------------------
                layer_4_game_a {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------

//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | TAB       |   1   |   2   |   3   |   4   |   5   |            |       |       |       |       |       |           |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | CTRL      |   Q   |   W   |   E   |   R   |   T   |            |       |       |       |       |       |   L0/L4   |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         | SHFT      |   A   |   S   |   D   |   F   |   G   |            |       |       |       |       |       |           |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                                                     | SPACE |  ALT  |  L5   |            | L0/L4 |       |       |
//                                                     +-------+-------+-------+            +-------+-------+-------+

//                                                                                                                          Side Mouse Buttons
//                                                                                                                          +-------+-------+-------+
//                                                                                                                          |   Z   |   X   |   C   |
//                                                                                                                          +-------+-------+-------+
//                                                                                                                          |   V   |   B   |   N   |
//                                                                                                                          +-------+-------+-------+

//                                                                                                                          Mouse Button Behind Wheel
//                                                                                                                          +-------+
//                                                                                                                          |       |
//                                                                                                                          +-------+

                        label = " L4_Game_A";
                        bindings = <

                          &trans     &kp N1  &kp N2  &kp N3     &kp N4    &kp N5            &none  &none  &none  &none  &none  &none
                          &kp LCTRL  &kp Q   &kp W   &kp E      &kp R     &kp T             &none  &none  &none  &none  &none  &trans
                          &trans     &kp A   &kp S   &kp D      &kp F     &kp G             &none  &none  &none  &none  &none  &none
                                                     &kp SPACE  &kp LALT  &mo L5            &none  &none  &none

                        >;
                };

// -------------------------------------------------------------------------------------------------------------------------------------------------------------------
                layer_5_game_b {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------

//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         |     `     |  F1   |  F2   |  F3   |  F4   |  F5   |            |       |       |       |       |       |           |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         |    ESC    |   Y   |   U   |   I   |   O   |   P   |            |       |       |       |       |       |           |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                         |    F6     |   H   |   J   |   K   |   L   |   M   |            |       |       |       |       |       |           |
//                         +-----------+-------+-------+-------+-------+-------+            +-------+-------+-------+-------+-------+-----------+
//                                                     |       |       | HELD  |            |       |       |       |
//                                                     +-------+-------+-------+            +-------+-------+-------+

                        label = " L5_Game_B";
                        bindings = <

                         &kp GRAVE  &kp F1   &kp F2  &kp F3     &kp F4    &kp F5            &none  &none  &none  &none  &none  &none
                         &kp ESC    &kp Y    &kp U   &kp I      &kp O     &kp P             &none  &none  &none  &none  &none  &trans
                         &kp F6     &kp H    &kp J   &kp K      &kp L     &kp M             &none  &none  &none  &none  &none  &none
                                                     &kp SPACE  &kp LALT  &none             &none  &none  &none
                        >;
                };
        };
};
